@import "~@/node_modules/@vuepic/vue-datepicker/dist/main.css";
@import "primevue/resources/themes/saga-blue/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";

.common-exporter {


	.header {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		
		margin: 2rem;
		padding: 1rem;
		
		.row {
			margin: 0.5rem 0 0 0;
			padding: 0.5rem;
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			
			.txt {
				min-width: 14.7rem;
			}

			.btn {
			}

			&.align-width {
				max-width: 22rem;

				.p-multiselect {
					max-width: 100%;
				}
			}
		}
		.calendar {
			order: 0;
			flex-grow: 1;
			max-width: 22rem;
		}
	}

	@media (max-width: 1024px) {
	}

	@media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
	}
}

.common-exporter-light {
	@extend .common-exporter !optional;
}
